<h1>Edit user</h1>
<%= form_for @changeset, user_path(@conn, :update, @user), fn f -> %>
    <%= render TodoElixirWeb.UserView, "form.html", f: f %>
    <%= submit "Edit", class: "btn btn-primary" %>
<% end %>
