<h1>Create a user</h1>
<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
    <%= render TodoElixirWeb.UserView, "form.html", f: f %>
    <%= submit "Create", class: "btn btn-primary" %>
<% end %>
