<%= if @current_user do %>
<h1>Welcome Back <%= @current_user.email %></h1>
<% end %>
<ul>
  <%= for user <- @users do %>
  <li>  <%= user.email %> - <%= link "View", to: user_path(@conn, :show, user) %></li>
  <% end %>
</ul>
<%= if !@current_user do %>
  <a href="<%= user_path(@conn, :new) %>">Sign Up</a>
  <a href="<%= session_path(@conn, :new) %>">Login</a>
<% else %>
  <%= link "Logout", to: session_path(@conn, :logout), method: :delete %>
<%end %>
